div#clickableContainer {
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

button.clickable {
    min-width: 110px;
    width: fit-content;
    padding: 5px;
    margin: 5px 16px;
    box-sizing: border-box;
    background-color: #c0c0c0;

    border-style: solid;
    border-width: 3px;
    border-color: #ffffff #7a7a7a #7a7a7a #ffffff;

    font-size: medium;
}

button.clickable:active{
    border-style: solid;
    border-width: 3px;
    border-color: #7a7a7a #ffffff #ffffff #7a7a7a;
}