button.collapsible-control {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    color: black;
    background-color: #b2b2b2;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
}

button.collapsible-control:hover {
    background-color: #dfdfdf;
}

.collapsible {
    max-height: 0;
    height: max-content;
    /* For Firefox */
    height: fit-content;
    overflow: hidden;
    transition: max-height 0.4s linear;
    background-color: #c3c3c3;
}

.collapsible.collapsible-show {
    max-height: 20em;
    overflow: auto;
}

button.collapsible-control:before {
    content: '\02795';
    /* Unicode for plus sign (+) */
    font-size: 80%;
    color: black;
    margin-right: 1em;
}

button.collapsible-control.collapsible-open:before {
    content: '\2796';
    /* Unicode for minus sign (-) */
}