html {
    top: 0px;
}

body {
    margin: 0;
}

.verticalAlignMid {
    vertical-align: middle !important;
}

.textCenter {
    text-align: center !important;
}
.center {
    width: fit-content;
    margin: auto;
}

.fullWidth {
    width: 100% !important;
}

.right {
    position: absolute !important;
    right: 0px !important;
}


.fixedTop {
    position: fixed !important;
    top: 0px !important;
}

.underNavbar {
    position: relative !important;
    top: 140px !important;
}

.displayInlineBlock {
    display: inline-block !important;
}

.hidden {
    display: none !important;
}

.backgroundRed {
    background-color: red !important;
}

.zIndex10 {
    z-index: 10 !important;
}

@media only screen and (max-width: 800px) {
    .smallWindowHide {
        display: none !important;
    }
}