html {
    top: 0;
}
p, label, input, button {
    font-family: verdana,arial,helvetica,sans-serif;
}

body {
    margin: 0;
    background-color: #c8c8c8;
}

.text-center {
    text-align: center !important;
}

.center {
    width: max-content;
    /* For Firefox */
    width: fit-content;
    margin: auto;
}

.clearfix {
    overflow: auto;
}

.container {
    padding-left: 2em;
    padding-right: 2em;
}

div#footerContainer h3 {
    text-align: center;
}

#pageTitle {
    text-align: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    .smallWindowHide {
        display: none !important;
    }
}

/* START LEFT TOOLBAR */
div#leftToolbar {
    position: fixed;
    left: 0px;
}

div#leftToolbar>button.clickable {
    margin-left: 0px;
    margin-bottom: 1.5em;
    border-left-width: 0px;
}

/* END LEFT TOOLBAR */