html {
    top: 0;
}

body {
    margin: 0;
}

.textCenter {
    text-align: center !important;
}
.center {
    width: fit-content;
    margin: auto;
}

.clearfix {
    overflow: auto;
}

.displayInlineBlock {
    display: inline-block !important;
}

.hidden {
    display: none !important;
}

.container {
    margin-left: 2em;
    margin-right: 2em;
}

div#footerContainer h3 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .smallWindowHide {
        display: none !important;
    }
}
