body {
    min-width: fit-content;
    min-height: fit-content;
    background-color: #c0c0c0;
}

canvas#lifeCanvas {
    border-color: black;
    border-style: solid;
    border-width: 1px;

    margin: auto;

    background-image: url("lifeGrid.svg");
}

div#inputContainer button {
    font-size: large;
}