/* Colors from https://upload.wikimedia.org/wikipedia/commons/1/1e/Minesweeper_Game_Most_Common_Setup.png */

body {
    min-width: fit-content;
    min-height: fit-content;
    background-color: #c0c0c0;
}

div#gameContainer {
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@font-face {
    font-family: 'MinesweeperFont';
    src: url('fonts/minesweeper.ttf');
    /* https://fontstruct.com/fontstructions/show/1501665/mine-sweeper */
}

@font-face {
    font-family: 'LEDScoreboard';
    src: url('fonts/LEDScoreboard.ttf');
    /* Modified from https://fontstruct.com/fontstructions/show/1462474/7segments-1 */
}


/* START BUTTONS */
div#buttonsContainer {
    width: fit-content;
    margin: auto;
}

div#buttonsContainer>button,
div#popupContainer button {
    min-width: 100px;
    width: fit-content;
    padding: 5px;
    margin: 10px 20px;
    box-sizing: border-box;
    background-color: #c0c0c0;

    border-style: solid;
    border-width: 3px;
    border-color: #ffffff #7a7a7a #7a7a7a #ffffff;

    font-size: large;
}

div#buttonsContainer>button:active,
div#popupContainer>button:active {
    border-style: solid;
    border-width: 3px;
    border-color: #7a7a7a #ffffff #ffffff #7a7a7a;
}

/* END BUTTONS */


/* START SCOREBOARD */
div#scoreContainer {
    border-style: solid;
    border-width: 3px;
    border-color: #7f7f7f #ffffff #ffffff #7f7f7f;
    margin-bottom: 10px;
}

div.scoreboard {
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    padding: 0.12em 0px 0.12em 0.12em;
    margin: 8px;

    font-family: 'LEDScoreboard', 'Courier New', Courier, monospace;
    font-size: 2em;
    color: red;
    background-color: black;

    border-style: solid;
    border-width: 1px;
    border-color: #7f7f7f #ffffff #ffffff #7f7f7f;
}

div#minesBoard {
    float: left;
}

div#timeBoard {
    float: right;
}
/* END SCOREBOARD */


/* START SETTINGS POPUP */
div.popup {
    display: none;
}

div.popup.active {
    display: inline-block;
    visibility: visible;
    position: fixed;

    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: fit-content;
    height: fit-content;
    width: fit-content;
    min-width: fit-content;
    padding: 2%;

    background-color: #d0d0d0;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

div.popup label,
div.popup input {
    font-size: large;
}

div.popup input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

/* END SETTINGS POPUP */


/* START MINESWEEPER GAME */
/* START GENERAL GAME */
div#minesweeperContainer {
    border-style: solid;
    border-width: 5px;
    border-color: #7f7f7f #ffffff #ffffff #7f7f7f;
}


div.game-row {
    display: table-row;
}

div.game-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #c0c0c0;
    /* minesweeper gray */

    box-sizing: border-box;
    width: 25px;
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;

    font-family: 'MinesweeperFont', 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 800;
}

/* END GENERAL GAME */

/* START SPECIFIC CELL TYPES */
div.game-cell:not(.secret) {
    border-style: solid;
    border-width: 1px;
    border-color: #7f7f7f;
}

div.game-cell.flag {
    background-size: contain;
    background-image: url("minesweeperFlag.svg");
}

div.game-cell.flag.bad-flag {
    background-size: contain;
    background-image: url("minesweeperBadFlag.svg");
}


div.game-cell.secret {
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff #7a7a7a #7a7a7a #ffffff;
}

div#minesweeperContainer.active-game div.game-cell.secret:not(.flag):active {
    border: none;
}

div.game-cell.mine {
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #7f7f7f;
    padding: 0.1em 0em 0em 0.1em;
}

div.game-cell.mine.clicked {
    background-color: red;
}
/* END SPECIFIC CELL TYPES */

/* START NUMBER COLORS */
div.game-cell.value1 {
    color: #0000ff;
}

div.game-cell.value2 {
    color: #008000;
}

div.game-cell.value3 {
    color: #ff0100;
}

div.game-cell.value4 {
    color: #000080;
}

div.game-cell.value5 {
    color: #800000;
}

div.game-cell.value6 {
    color: #008080;
}

div.game-cell.value7 {
    color: #000000;
}

div.game-cell.value8 {
    color: #7f7f7f;
}

/* END NUMBER COLORS */
/* END MINESWEEPER GAME */

/* START FOOTER */
div#footerContainer h3 {
    text-align: center;
}
/* END FOOTER */