/* ====================Menu Icon Styling==================== */

#navbarDropdown {
    background-color: red;
}

#navbarDropdown button {
    display: block;
}

#menuIconContainer {
    cursor: pointer;
    float: right;
    margin-right: 0.8em;
}

.iconTopBar, .iconMiddleBar, .iconBottomBar {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate first bar */
 .change > .iconTopBar {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */
 .change > .iconMiddleBar {
    opacity: 0;
}
/* Rotate last bar */
 .change > .iconBottomBar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/* Hide the menu icon until the window is under 600px and the navbar is gone */
@media only screen and (min-width: 601px) {
    #menuIconContainer, #navbarDropdown {
        display: none;
    }
}


/* ====================Menu Icon Styling End==================== */


/* ====================Navigation Bar Styling==================== */

#navbarContainer {
    background-color: red;
}

#navbar {
    min-height: 3.5em;
    max-height: 3.5em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: 100%;
}

.navbar {
    display: inline-block;
}

.navbutton {
    min-width: 4em;
    width: fit-content;

    margin-right: 3em;

    color: white;
    font-size: 1.2em;
    text-align: center;
    background-color: red;

    border: none;
    cursor: pointer;
}

.navbutton:hover {
    color: #d9d9d9;
}

.navbutton.dropdownButton {
    font-size: 0.75em;
    margin-bottom: 1em;
}
/* ====================Navigation Bar Styling End==================== */