/* START GENERAL NAVBAR */

#navbarContainer {
    background-color: #38a9c1;
}

#navbar {
    min-height: 4em;
    height: 4em;
    width: 100%;
}

div#navbuttonList, div.navbutton-container, button.navbutton {
    height: 100%;
    display: inline-block;
}

.navbutton {
    min-width: 3em;
    width: fit-content;

    color: white;
    background-color: #38a9c1;

    border: none;
    cursor: pointer;
}

.navbutton:hover {
    color: #d9d9d9;
}

#navbar a {
    text-decoration: none;
    color: white;
}

/* END GENERAL NAVBAR */

/* START LARGE WINDOW NAVBAR */
@media only screen and (min-width: 70em) {
    #navbar {
        max-height: 4em;
    }

    .navbutton {
        margin-left: 1em;
        margin-right: 1em;

        font-size: 1.1em;
        text-align: center;
    }

    #menuIconContainer {
        display: none;
    }
}
/* END LARGE WINDOW NAVBAR */

/* START SMALL WINDOW NAVBAR */
@media only screen and (max-width: 70em) {
    #navbar {
        height: max-content;  /* For Firefox */
        height: fit-content;
    }

    div#navbuttonList {
        display: none;
    }
    div#navbuttonList.active {
        display: inline-block;
    }
    div#navbuttonList.active > div.navbutton-container {
        display: table-row;
    }
    div#navbuttonList.active .navbutton {
        display: block;
        font-size: 0.9em;
        text-align: left;
        padding: 1em;
    }

    #menuIconContainer {
        cursor: pointer;
        float: right;
        margin: 0.5em;
        vertical-align: middle;
    }

    div.iconTopBar, div.iconMiddleBar, div.iconBottomBar {
        width: 2em;
        height: 0.333em;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    /* Rotate first bar */
    div.change > .iconTopBar {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    /* Fade out the second bar */
    div.change > .iconMiddleBar {
        opacity: 0;
    }
    /* Rotate last bar */
    div.change > .iconBottomBar {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
/* END SMALL WINDOW NAVBAR */