/* ====================Menu Icon Styling==================== */

#navbarDropdown {
    background-color: red;
}

#navbarDropdown button {
    display: block
}

#menuIconContainer {
    cursor: pointer;
    float: right;
    margin-right: 1.5em;
    margin-top: 1.5em;
}
.iconTopBar, .iconMiddleBar, .iconBottomBar {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate first bar */
 .change > .iconTopBar {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */
 .change > .iconMiddleBar {
    opacity: 0;
}
/* Rotate last bar */
 .change > .iconBottomBar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/* Hide the menu icon until the window is under 600px and the navbar is gone */
@media only screen and (min-width: 600px) {
    #menuIconContainer, #navbarDropdown {
        display: none;
    }
}


/* ====================Menu Icon Styling End==================== */


/* ====================Navigation Bar Styling==================== */

.navbarButton:hover {
    /* background-color: #960000; */
    color: #d9d9d9
    /* Light Gray */
}
.navbutton {
    color: white;
    background-color: red;
    border: none;
    float: left;
    margin-right: 1.2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
}

.navbutton.dropdownButton {
    font-size: 0.75em;
    margin-bottom: 1em;
}

#navbar {
    background-color: red;
    padding-bottom: 1em;
    padding-top: 1em;
}
/* ====================Navigation Bar Styling End==================== */