canvas#pongCanvas {
    border: black solid 10px;
    border-left: none;
    background-color: #666666;
}

div#scoreContainer {
    font-size: x-large;
}

div#settingsContainer {
    overflow-x: auto;
}

div.inline-container {
    display: inline-block;
    font-size: x-large;
    margin: 0.5em;
}